*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background-color:white;
    overflow:scroll;
}
.logo{
  width: 50px;
  height: 50px;
  position: absolute;
  top: 0px;
}
.navbar {
    background-color: rgb(54, 54, 135);
    height: 50px;
    display: flex;
    justify-content: center;
    width:100%;
  }
  .links{
  position: absolute;
  left: 40%;
  display: flex;
  width: 40%;
  gap: 30px;
  }
  .nav{
    color: aliceblue;
    text-decoration: none;
}
.nav:hover{
  color: aqua;
} 
@media only screen and (max-width: 400px){
  .links{
    display: flex;
    
   left: 50px;
    font-size:small;
    width: 5%;
    gap: 5px;
  }
  .logo{
    width:30px;
    height: 30px;
    margin:5px;
    padding: 5px;
  }
  .navbar{
   width: 100%;
  }
  
}
  #section1{

    height: 600px;
    width: 100%;
  } 
  
  .home1{
    display:flex;
   
  }
  .image1{
    position: absolute;
    left: 300px;
    top: 150px;
    height: 400px;
    width: 400px;
    border-radius:200px;
  }
  .introduction{
    
    width: 400px;
    height:400px;
    display: grid;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    color: rgb(15, 46, 142);
    position: absolute;
    left: 800px;
    top: 100px;
    font-weight:bolder;
  }
  .load{
    width:100px;
    border-radius:50px;
    background-color: rgb(15, 46, 142); 
    color: aliceblue;
    position: absolute;
    left:800px;
    top: 500px;
    font-size: large;
    font-weight:bold;
  }
  .load:hover{
    background-color: gray;
  }
  .dawn{
    text-decoration: none;
    color: aliceblue;
  }
  .Name{
    text-align: center;
    width: 300px;
    position: absolute;
    left: 150px;
    top: 100px;
    font-weight:bolder;
    font-size: x-large;
    color: rgb(15, 46, 142);
  }
  @media only screen and (max-width: 400px) {
    
    .introduction{
      width: 10%;
      left: 300px;
      font-size:large
    }
    .image1{
      width: 30%;
      left: 100px;
    }
    .Name{
      width: 10%;
      left: 30px;
      font-size: large; 
    }
    .load{
      width: 10%;
      left: 300px;
      font-size: small;
    }
}
  #section2{
 
    height: 600px;
    width: 100%;
    background-image:url(aboutme.jpeg);
    background-size: cover;
    position: relative;
  }
  .ab{
    color: aliceblue;
    position: absolute;
    left: 30px;
    top: 30px;
  }
  .My{
    border: solid rgb(15, 46, 142) ;
    border-radius: 200px;
    text-align: center;
    box-shadow:5px 5px 10px gray;
    margin:10px;
    padding: 50px;
    height:300px;
    width: 500px;
    font-weight:bolder;
    font-size: x-large;
    color: rgb(15, 46, 142);
    transition: 2s;
  }
  .My:hover{
    background-color: blanchedalmond;
    transform: scale(1.3);
  }
  .about1{
    position: absolute;
    top: 100px;
    left: 400px;
  }
  .My2{
    border: solid rgb(15, 46, 142) ;
    border-radius: 200px;
    text-align: center;
    box-shadow:5px 5px 10px gray;
    margin:10px;
    padding: 50px;
    height:300px;
    width: 400px;
    font-weight:bolder;
    font-size: x-large;
    color: rgb(15, 46, 142);
    transition: 2s;
  }
  .My2:hover{
    background-color: blanchedalmond;
    transform: scale(1.3);
  }
  .about2{
    position: absolute;
    top: 150px;
    left: 950px;
  }
  @media only screen and (max-width: 400px){
    #section2{
      display: flex;
      flex-wrap: wrap;
    }
    .ab{
      font-size: small;
    }
    .My{
    font-size: small;
    }
    .about1{
      left:50px;
      width: 70%;
      height: 50%;
  }
  .about2{
    left: 300px;
    width: 70%;
    height: 50%;
  }
  .My2{
    font-size: small;
  }
}

  #section3{
    height: 600px;
    width: 100%px;
   background-color: white;
   position: relative;
  }
  .edu{
    color: rgb(15, 46, 142);
    position:absolute;
padding: 20px;
margin: 20px;
  }
  .Education1{
    position: absolute;
    top: 50px;
    left: 400px;
   padding: 30px;
   border: solid rgb(15, 46, 142);
   border-radius: 20px;
   box-shadow: 5px 5px 10px gray;
   width: 300px;
   height: 500px;
   transition:2s;
  }
  .Education1:hover{
   transform: translate(50px);
   background-color:rgb(180, 171, 171);
  }
  .edu1{
    position: absolute;
    bottom: 0px;
    color: rgb(15, 46, 142) ;
    font-size:large;
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: bold;
    width:200px;
    
  }
  .Education2{
    padding: 50px;
    position: absolute;
    top: 50px;
    right: 400px;
   border: solid rgb(15, 46, 142);
   border-radius: 20px;
   box-shadow: 5px 5px 10px gray;
   width: 300px;
   height: 500px;
   transition:2s;
  }
  .image2{
    position: absolute;
    left: 10px;
  width: 300px;
  }
  .degree{
    width:100px;
    border-radius:50px;
    background-color: rgb(15, 46, 142); 
    color: aliceblue;
    position: absolute;
    left:100px;
    bottom: 200px;
    font-size: large;
    font-weight:bold;
  }
  .Education2:hover{
    transform: translate(50px);
    background-color:rgb(180, 171, 171);
   }
   #section4{
    height: 100%;
    width: 100%px;
  position: relative;
 
}
.list{
    box-shadow: 5px 5px 10px gray;
    border: solid  ;
    border-radius: 10px;
    height: 200px;
    width: 700px;
    position: absolute;
    top: 100px;
    left: 400px;
    text-align: center;
    overflow: hidden;
    color:rgb(15, 46, 142);
    transition:2s;
}
.list:hover{
transform: scale(1.3) ;
background-color: antiquewhite;

}  
#section5{
    position:relative;
    top: 500px;
    height:1000px;
    width: 100%px;
    background-image:url(skills.jpeg);
    background-size:cover;
    opacity: 0.75;
}
.skill1{
    position: absolute;
    top: 50px;
    left: 400px;
   border: solid rgb(15, 46, 142);
   border-radius: 20px;
   box-shadow: 5px 5px 10px gray;
   width: 300px;
   height: 500px;
   overflow: hidden;
   transition:2s;
   background-color:white;
   transition: 2s;
  }
  .skill1:hover{
   transform: translate(50px);
  }
  .image3{
    position: absolute;
    left: 0;
  width: 300px;
  }
  .training1{
    font-size:large;
    position:absolute;
    bottom: 50px;
    text-align: center;
    color: rgb(15, 46, 142) ;
    font-weight: bold;
  }
  .degree1{
    position: absolute;
    top:60%;
    left:40%;
    background-color:  rgb(15, 46, 142) ;
    border-radius: 10px;
    
  }
  .degree11{
    color: aliceblue;
    text-decoration: none;
  }

  .skill2{
    position: relative;
    top: 50px;
    left: 800px;
   border: solid rgb(15, 46, 142);
   border-radius: 20px;
   box-shadow: 5px 5px 10px gray;
   width: 300px;
   height: 500px;
   overflow: hidden;
   transition:2s;
   background-color:white;
   transition: 2s;
  }
  .skill2:hover{
   transform: translate(50px);
  }
  .image4{
    position: absolute;
    left: 0;
  width: 300px;
  }
  .training2{
    font-size:large;
    position:absolute;
    bottom: 10px;
    text-align: center;
    color: rgb(15, 46, 142) ;
    font-weight: bold;
  }
  .degree2{
    position: absolute;
    top:60%;
    left:40%;
    background-color:  rgb(15, 46, 142) ;
    border-radius: 10px;
    
  }
  .degree21{
    color: aliceblue;
    text-decoration: none;
  }
  #section6{
    width: 100%;
    height: 400px;
   
    position: relative;
    bottom: 0px;
    top:500px;
    background-color:rgb(54, 54, 135);
    display: flex;
    justify-content: space-between;
   
  }
  .contact-me{
    
    position: absolute;
    justify-items: center;
    left: 700px;
    bottom: 0px;
    display:flex;
   gap: 20px;
  }
  .contact-me1{
    color: aliceblue;
    font-size: larger;
     text-decoration: none;
  }
  .contact-me1:hover{
    color: aqua;
  }
  .contact-me2{
    font-size: medium;
    position: absolute;
    top: 300px;
    left: 130px;
  }
  .contact-me2:hover{
    color: aqua;
  }
.mb-3{
    width: 500px;
    padding: 50px;
    font-size: larger;
    position: absolute;
    left: 500px;
    height: 300px;
    top: 10px;
    display: grid;
    gap:10px;
}
.get{
  font-family:cursive;
  font-size: larger;
  position: absolute;
  top: 20px;
  left: 650px;
}
.get:hover{
  color:aqua
}
.form-label{
    color: aliceblue;
}